.spreadsheet-translations-utility-status {
  opacity: 1;
  * {
    transition: opacity .5s;
  }

  > * {
    opacity: 0;
    &.active {
      opacity: 1 !important;
    }
  }

  .utility-status .progressbar {
    transform: none;
  }
}

.spreadsheet-translations-utility-status.utility-status .progressbar {
  transform: none;
}