{# @var craft \craft\web\twig\variables\CraftVariable #}

{% import "_includes/forms" as forms %}

{{ forms.textareaField({
    label: 'Contents of the access key file',
    instructions: '',
    id: 'keyFileContents',
    name: 'keyFileContents',
    value: settings['keyFileContents'],
    rows: 8,
    cols: 50,
    wrap: 'soft',
    class: 'code',
}) }}


{{ forms.textField({
    label: 'Spread Sheet Id',
    instructions: '',
    id: 'spreadSheetId',
    name: 'spreadSheetId',
    value: settings['spreadSheetId'],
    class: 'code',
}) }}

<div class="btn js-test-config-button">{{ 'Test credentials' }}</div>
<span id="graphic" class="spinner hidden js-test-config-spinner"></span>
<p class="js-test-config-result"></p>

{% do view.registerAssetBundle('internetztube\\spreadsheetTranslations\\assetbundles\\SettingsAssetBundle') -%}